body{
    background-image: url("./airoplane-highwayb.jpg");
    background-repeat: no-repeat;
}

.image{
    animation-name: airoplane;
    animation-duration: 30s;
    position: relative;
}

@keyframes airoplane{
   0%{top: 320px;left: 100%;}
   50%{top: 320px;left: 40%;}
   95%{top: 50px;left: 0%;}
   100%{top: 10px;left: 0%;}
}