.pokemon{
    background-image: url(./stare\ case\ house.png);
    background-repeat: no-repeat;
    margin-left: 50vw ;
    margin-top: 90px;
}

.contierA{
    background-image: url(./pokemon2.png);
    width: 58px;
    height: 330px;
    animation:walk 1s steps(8) infinite,
                forward 5s linear infinite;
}

@keyframes walk{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 3000px;
    }
}

@keyframes forward{
    0%{
        transform:translate(-100px);
    }

    100%{
        transform: translate(1200px);
    }
}