body{
 background: black;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.circle{
    position: fixed;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 40px solid;
    border-color: #4285f4;
    border-radius: 100%;
    animation: rot 6.5s linear infinite;
    margin-top: 10px;
}

@keyframes rot{
    to{
        transform: scale(5) ;
        opacity: 0;
        
    }
}

.c2{animation-delay:  0.5s;}
.c3{animation-delay:  1s;}
.c4{animation-delay:  1.5s;}
.c5{animation-delay:  2s;}
.c6{animation-delay:  2.5s;}
.c7{animation-delay:  3s;}
.c8{animation-delay:  3.5s;}
.c9{animation-delay:  4s;}
.c10{animation-delay:  4.5s;}
.c11{animation-delay:  5s;}
.c12{animation-delay:  5.5s;}
.c13{animation-delay:  6s;}
.c14{animation-delay:  6.5s;}
