* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.top-menu {
    height: 43px;
    width: 100%;
    background-color: #eeeeee;
}

.top-menu-logo {
    height: 100%;
    width: 20%;
    float: left;
    text-align: center;
}

.top-menu-logo img {
    z-index: 6;
    position: absolute;
}

.top-menu-contact {
    height: 100%;
    width: 40%;
    float: left;
}

.top-menu-contact ul {
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.top-menu-contact ul li {
    display: inline-block;
    color: black;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.top-menu-icon {
    height: 100%;
    width: 40%;
    float: left;
}

.top-menu-icon ul {
    height: 100%;
    width: 100%;
    float: left;
    text-align: center;
}

.top-menu-icon ul li {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 9px;
    margin-left: 10px;
    background-color: #e9dbc8;
    text-align: center;
}

.top-menu-icon ul li i {
    margin-top: 8px;
}

.top-menu-icon ul li:hover {
    background-color: #e74c14;
    color: white;
}


.main-menu {
    height: 61px;
    width: 100%;
    float: left;
    background-color: #e9dbc8;
}

.main-menu-logo {
    height: 100%;
    width: 30%;
    float: left;
}

.main-menu-option {
    height: 100%;
    width: 70%;
    float: left;
}

.main-menu-option ul {
    height: 100%;
    width: 100%;
    float: left;
}

.main-menu-option ul li {
    display: inline-block;
    padding: 20px;
    width: 70px;
}

.main-menu-option ul li :hover {
    background-color: #e74c14;
    padding: 20px;
}

.main-menu-option ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.Home {
    background-color: #e74c14;
    padding: 20px;
}

.main-menu-logo img {
    display: none;
}

.btn {
    display: none;
}

.btn a {
    color: white;
}

.slider-area {
    height: 700px;
    width: 100%;
    float: left;
    background-image: url("https://gloxy-react.envytheme.com/static/slide-bg-1-d528d449d91932aed63336d59b9439c9.jpg");
    background-size: 100% 100%;
}

.slider-area-box {
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    width: 50%;
    float: left;
}

.slider-area-box p {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.slider-area-box h1 {
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.slider-area-box-btn {
    height: 40px;
    width: 150px;
    background-color: #e74c14;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 15;
    font-weight: bold;
}


@media(max-width:767px) {
    .top-menu-logo {
        display: none;
    }

    .top-menu {
        height: 80px;
    }

    .top-menu-contact {
        width: 100%;
        height: 20px;
    }

    .top-menu-contact ul {
        text-align: center;
    }

    .top-menu-contact ul li {
        font-size: 17px;
    }

    .top-menu-icon {
        width: 100%;
        height: 76%;
    }

    .top-menu-icon ul li {
        margin-top: 19px;
        height: 29px;
        width: 29px;
    }

    .btn {
        padding: 7px;
        background-color: #e74c14;
        display: flex;
        position: absolute;
        margin-left: 83vw;
        margin-top: 15px;
        color: #e9dbc8;
    }

    .btn a {
        text-decoration: none;
        color: white;
    }
}

@media(max-width:667px) {
    .main-menu-logo img {
        display: inline-block;
        margin-left: 55px;
        margin-top: 4px;
    }

    .main-menu {
        background-color: #e74c14;
    }

    .main-menu-option {
        display: none;
    }
}

@media(max-width:667px) {
    .slider-area {
        height: 350px;
    }

    .slider-area-box {
        margin-top: 50px;
        margin-left: 70px;
        float: left;
    }

    .slider-area-box p {
        font-size: 18px;
        margin-top: 10px;
    }

    .slider-area-box h1 {
        font-size: 40px;
        margin-top: 10px;
    }


}

.why-choose-box {
    height: 100%;
    width: 30%;
    float: left;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px black;
    background-color: white;
}

.why-choose {
    height: 300px;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: -100px;
}

.why-choose-box i {
    font-size: 80px;
    color: #e74c14;
    margin-top: 20px;
}

.why-margin {
    margin-left: 5%;
    margin-right: 5%
}

.why-choose-box h2 {
    margin-top: 20px;
    /* color: white; */
    /* font-size: 25px; */
}

.why-choose-box p {
    line-height: 1.7;
    font-weight: 20px;
    margin-top: 20px;
}

.why-choose .active {
    background-color: #e74c14;
}

.why-choose .active i {
    color: white;
}

.why-choose .active h2 {
    color: white;
}

.why-choose .active p {
    color: white;
}

.why-choose-box:hover {
    background-color: #e74c14;
    color: white;
}

.why-choose-box:hover i {
    color: white !important;
}

.why-choose-box:hover h2 {
    color: white !important;
}

.why-choose-box:hover p {
    color: white !important;
}


@media(max-width:667px) {

    .why-choose {
        margin-top: 20px;
        height: auto;
    }

    .why-choose-box {
        height: auto;
        width: 100%;
        margin-top: 30px;
    }

    .why-choose-box p {
        line-height: 1.4;
        margin-top: 10px;
    }

    .why-margin {
        margin-left: 0px;
        margin-right: 0px;
    }

    .why-choose-box i {
        font-size: 60px;
    }
}

.service {
    margin-top: 30px;
    height: auto;
    width: 100%;
}

.service-title {
    margin-top: 15vw;
    height: 150px;
    width: 100%;
    float: left;
}

.service-title p {
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5;
    font-size: 17;
}

.service-title h1 {
    text-align: center;
    font-size: 50;
    color: #e74c14;
    line-height: 1.5;
    font-style: bold;
}

.service-boxes {
    height: 150px;
    width: 100%;
    float: left;
    background-color: #ffffff;
}

.service-box {
    margin-left: 10%;
}

.service-boxA {
    height: 20vw;
    width: 30%;
    float: left;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fdfdfd;
    margin: 15px;
    margin-top: 10px;
    text-align: center;
}

.service-boxA:hover {
    border: 1px solid #e74c14;
    transform: scale(1.1);
    box-shadow: 5px 5px 3px 0px #e74c14;
}

.user {
    height: 5vw;
    width: 5vw;
    margin-top: 18px;
}

.boxA-heading {
    margin-top: 20px;
}

.boxA-paragraph {
    margin-top: 20px;
    font-size: 18px;
}

.image {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 0px black;
    margin-top: 20px;

}

@media(max-width:667px) {

    .user{
        margin-top: 7px;
    }
 
   
    .service-boxA {
        height: 29vw;
        width: 90%;
    }
}

.laptop-section {
    width: 100px;
    height: 50px;
    margin-top: 10vw;
}

.laptop-container {
    width: 980px;
    height: 400px;
    position: absolute;
    top: 150vw;
    /* margin-top: 10vw; */
    display: flex;
    margin: auto;
    margin-left: 9vw;

}

.laptop-title {
    width: 64%;
    margin: 20px;
}

.laptop-title h2 {
    /* font-size: 36px;
  font-weight: 800; */
    font-weight: 600;
    color: #272727;
    font-size: 40px;
}

.laptop-title p {
    margin-top: 15px;
    line-height: 1.6;
    font-size: 20;
}

.laptop {
    margin: 10px;
    width: 35%;
}

@media(max-width:667px) {
    .laptop-section {
        position: relative;
        top: 250vw;
    }

    .laptop-container{
     width: auto;
    }

    .laptop-title{
        width: 50%;
    }

    .laptop-title h2{
        width: 81vw;
    }

    .laptop-title p{
        width: 68vw;
    }
    .laptop{
        width: 50%;
    }

    .laptop-container{
        display: block;
    }
}

.our-works {
    margin-top: 166vw;
    height: 750px;
    width: 100%;
}

.works-title {
    padding: 100px 0;
    height: 20%;
    width: 100%;
    float: left;
}


.works-title p {
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5;
    font-size: 17;
}

.works-title h1 {
    text-align: center;
    font-size: 50;
    color: #e74c14;
    line-height: 1.5;
    font-style: bold;
}

.our-work-image {
    width: auto;
    padding-left: 10vw;
}

.work-box {
    height: 50px;
    display: inline-block;
    padding: 12px;
}

.work-box img {
    height: 28vw;
}

.work-box:hover{
    position: relative;
    z-index: 5;
    background-color: #e74c14;
}

.our-work-imageA {
    width: auto;
    padding-left: 10vw;
    padding-top: 19px;
}

@media(max-width:667px) {
    .our-works {
        margin-top: 493vw;
    }

    .works-title p{
        width: 70%;
    }
}

.about-us{
    margin-top: 34vw;
    padding: 100px 0;
    height: 20%;
    width: 100%;
    float: left;
}

.about-usA{
    width: 62%;
    margin: auto;
}

.about-usB{
    margin-top: 5vw;
}

.about-us p {
    text-align: center;
    width: 78%;
    margin: auto;
    line-height: 1.5;
    font-size: 17;
    margin-top: 10px;
}

.about-us-heading{
    color: #e74c14;
}

.about-us h2 {
    text-align: center;
    font-size: 40;
    line-height: 1.5;
    font-style: bold;
}



.about-usB-heading{
 width: 50%;
 display: inline-block;
}

.about-usB-image{
 width: 40%;
 display: inline-block;

}


.about-usB img{
    height: 25vw;
    margin-left: 4vw;
}

@media(max-width:667px)
{
    .about-usB-heading {
        width: 100%;
    }

    .about-usB img{
        height: 45vw;
        margin-left: 17vw;
    }
}

.our-team{
    height: 40vw;
    height: 750px;
    width: 100%;
    margin-top: 84vw;
}

.our-team-heading h2{
    margin: auto;
}

.our-team-title{
    padding: 100px 0;
    height: 20%;
    width: 100%;
    float: left;
}

.our-team-title p {
    text-align: center;
    width: 40%;
    margin: auto;
    line-height: 1.5;
    font-size: 17;
}

.our-team-title h2{ 
    text-align: center;
    font-size: 50;
    color: #e74c14;
    line-height: 1.5;
    font-style: bold;
}


.our-work-image {
    width: auto;
    padding-left: 10vw;
}


.video-area {
    background-color: #e74c14;
    height: 380px;
    width: 100%;
    margin-top: 80px;
}

.display-table{
    height: 10px;
    width: 10px;
    text-align: center;
    margin-left: 25vw;
}

.display-table h1{
    width: 21vw;
    margin-left: 12vw;
    font-weight: 900;
    font-size: 3vw;
    padding-top: 10vw;
}

.display-table p{
    margin: auto;
    width: 46vw;
    line-height: 1.6;
    font-size: 19px;
    font-weight: 400;

}



.display-pricing h1{
    width: 9vw;
    margin-left: 42vw;
    font-weight: 900;
    font-size: 3vw;
    padding-top: 6vw;
}

.display-pricing p{
    margin: auto;
    width: 46vw;
    line-height: 1.6;
    font-size: 19px;
    font-weight: 400;
}

.monthly{
    padding: 10px;
    border-radius: 15px;
    background-color: #e74c14;
    border: none;
    color: white;
    font-size: 15px;
    margin-left: 42vw;
}

.yearly{
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 15px;

}

.yearly:hover{
    background-color: #e74c14;
    color: white;
}

.purchase-cards{
    height: 500px;
    width: 100%;
    margin-top: 30px;
}

.purchase-card{
    height: 500px;
    width: 25%;
    background-color: white;
    display: inline-block;}

.basic{
    height: 50%;
    width: auto;
    background-color: #f9f9f9;
}

.basic h4{
    text-align: center;
    padding: 20px;
    font-size: 10vh;
}

.basic h1{
    text-align: center;
    padding: 20px;
    padding-top: 0;
    font-weight: 700;
    font-size: 37px;
}

.basic p{
    text-align: center;
    font-size: 20px;
}

.purchase-card ul li{
    padding: 7px;
    list-style: none;
    text-align: center;
}

.purchase-card ul{
    margin-top: 20px;
}

.purchase-btn{
    color: #e74c14;
    border: 1px solid #e74c14;
    padding: 15px;
    width: 11vw;
    border-radius: 5px;
    margin-left: 84px;
    margin-top: 31px;
}


.basicB{
    background-color: #ffffff;
}

.purchase{
text-align: center;
}

.card-box1{
    background-color: #e74c14;
}

.purchase-crad-btn{
    background-color: #e74c14;
    color: white;
}

.fun-facts{
    margin-top: 50px;
    height: 50vw;
    width:100%;
    background-color: #f5f8f9;
}

.fun-head{
    margin-top: 120px;
    padding-top: 120px;
}

.fun-tit{
    text-align: center;
    font-size: 47px;
}

.fun-para{
    line-height:1.7;
    text-align: center;
    width: 40%;
    margin: auto;
}

.fun-card{
    margin-left: 12vw;
}

.funcards{
    height: 11vw;
    width: 24vw;
    background-color: #ffffff;
    margin: 10px;
    display: inline-block;
    text-align: center;
    padding-top: 70px;
}

.funcards h1{
font-size: 50;
padding: 20px;
}

