*{
    margin: 0px;
    padding: 0px;
}

.top-menu{
    height: 43px;
    width: 100%;
    background-color: #eeeeee;
}

.top-menu-logo{
height: 100%;
width: 20%;
float: left;
text-align: center;
}

.top-menu-logo img{
z-index: 6;
position: absolute;
}

.top-menu-contact{
height: 100%;
width: 40%;
float: left;
}

.top-menu-contact ul{
    height: 100%;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.top-menu-contact ul li{
    display: inline-block;
    color: black;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.top-menu-icon{
    height: 100%;
    width: 40%;
    float: left;
}

.top-menu-icon ul{
    height: 100%;
    width: 100%;
    float: left;
    text-align: center;
}

.top-menu-icon ul li{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 9px;
    margin-left: 10px;
    background-color: #e9dbc8;
    text-align: center;
}

.top-menu-icon ul li i{
    margin-top: 8px;
}

.top-menu-icon ul li:hover{
    background-color: #e74c14;
    color: white;
}


.main-menu{
    height: 61px;
    width:100%;
    float:left;
    background-color:#e9dbc8;
}

.main-menu-logo{
    height: 100%;
    width: 30%;
    float: left;
}

.main-menu-option{
    height: 100%;
    width: 70%;
    float: left;
}

.main-menu-option ul{
    height: 100%;
    width: 100%;
    float: left;
}

.main-menu-option ul li{
    display: inline-block;
    padding: 10px;
    width: 70px;
    margin-top: 8px;
}

.main-menu-option ul li :hover{
   background-color: #e74c14;
   padding: 20px;
}
.main-menu-option ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.main-menu-logo img{
    display: none;
}

.btn{
    display: none;
}

.btn a{
    color: white;
}

.slider-area{
    height: 600px;
    width: 100%;
    float: left;
    background-image: url("https://gloxy-react.envytheme.com/static/slide-bg-1-d528d449d91932aed63336d59b9439c9.jpg");
    background-size: 100% 100%;
}

.slider-area-box{
    height: auto;
    margin-top: 100px;
    margin-left: 100px;
    width: 50%;
    float:left;
}

.slider-area-box p{
    color: white;
    font-weight: bold;
    font-size:20px;
    margin-top: 20px;
}

.slider-area-box h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.slider-area-box button{
    height: 40px;
    width: 150px;
    background-color: #e74c14;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
}

 .why-choose-box{
    height: 100%;
    width: 30%;
    float: left;
    background-color: purple;
 }

 .why-choose{
    height: 300px;
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-top: -100px;
 }

 .why-margin{
    margin-left: 5%;
    margin-right:5%
 }

    @media(max-width:767px) {
        .top-menu-logo{
            display:none;
        }
    
        .top-menu{
            height: 80px;
        }
    
        .top-menu-contact{
            width: 100%;
            height: 20px;   
        }
    
        .top-menu-contact ul{
            text-align: center;
        }
    
        .top-menu-contact ul li{
            font-size: 17px;
        }
        
        .top-menu-icon{
            width: 100%;
            height: 76%;
        }
    
        .top-menu-icon ul li{
            margin-top: 19px;
            height: 29px;
            width: 29px;
        }

        .btn{
            padding: 7px;
            background-color: #e74c14;
            display: flex;
            position: absolute;
            margin-left: 83vw;
            margin-top: 15px;
            color: #e9dbc8;
        }
        
        .btn a{
            text-decoration: none;
            color: white;
        }
    }
   
    @media(max-width:667px){
        .main-menu-logo img{
            display: inline-block;
            margin-left: 55px;
            margin-top: 4px;
        }

        .main-menu{
            background-color: #e74c14;
        }

        .main-menu-option{
            display: none;
        }
    }

   @media(max-width:667px)
   {
    .slider-area{
        height: 350px;
    }

    .slider-area-box{
        margin-top: 50px;
        margin-left: 70px;
        float: left;
    }

    .slider-area-box p{
        font-size: 18px;
        margin-top: 10px;
    }

    .slider-area-box h1{
        font-size: 40px;
        margin-top: 10px;
    }


   }