*{
    margin: 0px;
    padding: 0px;
}

.main-container{
    width:100%;
    height: auto;
    background-color: black;
    display: flex;
}

.containerA{
    width: 60%;
    height: 610px;
    display: inline-block;
    border: 6px solid red;
}
 
.logo{
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
    font-style: bold;
    position: relative;
}

.logo-div{    
    background-color: rgb(86, 212, 54);
    border-radius: 50%;
    width: 115px;
    margin-left: 27vw;
    height: 115px;
}

.icon{
   float: right;
   margin: 8px;
   position: relative;
}

.unpin-container{
    display: flex;
    align-items: end;
    margin-top: 15vw;
    padding: 10px;
    display: inline-block;
}

h3{
    display: inline-block;
    color: white;
    padding: 7px;
}

.containerB{
    width: 40%;
    height: 620px;
    display: inline-block;
    margin: 8px;
}

.studentsA{
    display: flex;
}
.studentsB{
    display: flex;
}
.studentsC{
    display: flex;
}


.st1{
    background-color: rgba(38, 39, 37, 0.946);
    border-radius: 20px;
    margin: 10px;
    height: 13vw;
    width: 45%;
}
.st2{
    background-color: rgba(38, 39, 37, 0.946);
    border-radius: 20px;
    margin: 10px;
    height: 13vw;
    width: 45%;
}

.logoA{
    font-size: 80px; 
    font-style: bold;
    background-color: rgb(86, 212, 54);
    display: flex;
    justify-content: center; 
    border-radius: 157%;  
    width: 50px;
    height: 50px;
    position: relative;
    top: 66px;
    margin-left: 7vw;

}

.logo-main{
    margin-left: auto;
    margin-right: auto;
    margin-top: -26px;

}