.position_box1{
    height: 300px;
    width: 300px;
    float: left;
    background-color:red;
}

.position_box2{
    height: 200px;
    width: 200px;
    float: left;
    background-color:rgb(0, 2, 128);
    /* position: relative; */
    /* position: absolute; */
    /* position: static; */
    position: fixed;

}

.main-menu{
    height: 1000px;
    width: 100%;
    background-color: yellow;
}

.top-menu{
    height: 100px;
    width: 100%;
    float: left;
    background-color: rgb(0, 123, 255);
}

.top-main-menu{
    /* position: sticky; */
    top: 0px;
    height: 100px;
    width: 100%;
    float: left;
    background-color: brown;
}

.menu-area{
    height: 1000px;
    width: 100%;
    background-image:linear-gradient(rgb(rgb(119, 128, 0)255, 0),rgb(0,rgb(42, 46, 165) 128),brown) ;
}