body{
    margin: 0px;
    padding: 0px;
    background-color: #f4f6fb;
}

.brd{
border-bottom: 1px solid #dae0ef;
}

.mid-nav{
    margin-left: 27vw;
}

.nav-head{
    font-size: 18px;
    font-weight: 600;
    color: #081340;
}

span b{
    color:#151f4a;
}

.heading{
    padding: 10vw;
    text-align: center;
}

.heading2{
    font-size: 62px;
    width: 65%;
    margin: auto;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;}

.heading h2{
    font-family: 'Schoolbell', cursive; 
}

.secA{
    height: 38vw;
}

.button{
    background-color: #00c3ed;
    padding: 16px;
    color: white;
    font-size: 18px;
    display: flex;
    margin: auto;
}

.button:hover{
    background-color: #00c3ed;
}

.w-type-main{
background-color: #ffffff;
}

.water{
    margin-top: 5vw;
}

.image{
    margin-left: 7vw;
}

.imageA{
    bottom: 40vw;
}

.welcome{
    font-family: 'Schoolbell', cursive; 
    color: #ffa21d
}

.welcomeA{
    font-family: 'Exo 2', sans-serif;
}

.welcome-p{
    width: 38%;
    font-size: 18px;
}

.water-types{
    padding: 0px 30px 5px 30px;
    text-align: center;
    margin-top: 44px;
}

.w-types-img{
    border-right: 1px solid rgba(184, 205, 202, 0.766);
    margin-bottom: 8vw;
}

.water-types i{
    color: #ffa21d;
}

.arrow-r{
    width: 50%;
}

.video-title{
    font-family: 'Schoolbell', cursive; 
    color: #ffa21d;

}

.video-sec{
    margin-top: 8vw;
}

.video-head{
    font-size: 49px;
}