body{
    margin: 0px;
    padding: 0px;
    background-color: #f4f6fb;
}

.brd{
border-bottom: 1px solid #dae0ef;
}

.mid-nav{
    margin-left: 27vw;
}

.nav-head{
    font-size: 18px;
    font-weight: 600;
    color: #081340;
}

span b{
    color:#151f4a;
}

.heading{
    padding: 10vw;
    text-align: center;
}

.heading2{
    font-size: 62px;
    width: 65%;
    margin: auto;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;}

.heading h2{
    font-family: 'Schoolbell', cursive; 
}

.secA{
    height: 38vw;
}

.button{
    background-color: #00c3ed;
    padding: 16px;
    color: white;
    font-size: 18px;
    display: flex;
    margin: auto;
}

.button:hover{
    background-color: #00c3ed;
}

.w-type-main{
background-color: #ffffff;
}

.water{
    margin-top: 5vw;
}

.image{
    margin-left: 7vw;
}

.imageA{
    bottom: 40vw;
    margin: auto;
}

.welcome{
    font-family: 'Schoolbell', cursive; 
    color: #ffa21d
}

.welcomeA{
    font-family: 'Exo 2', sans-serif;
}

.welcome-p{
    width: 38%;
    font-size: 18px;
}

.water-types{
    padding: 0px 30px 5px 30px;
    text-align: center;
    margin-top: 44px;
}

.w-types-img{
    border-right: 1px solid rgba(184, 205, 202, 0.766);
    margin-bottom: 8vw;
}

.water-types i{
    color: #ffa21d;
}

.arrow-r{
    width: 50%;
}

.video-title{
    font-family: 'Schoolbell', cursive; 
    color: #ffa21d;

}

.video-sec{
    margin-top: 8vw;
}

.video-head{
    font-size: 49px;
}

.bottle-video-wrap img{
    max-width: 100%;
    height: auto;
    margin-left: 135px;
    margin-top: 40px;
    width: 81%;

}

.video-btn{
    position: absolute;
    top: 176vw;
    left: 46%;
    height: 130px;
    width: 130px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.805);
    line-height: 130px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    padding-left: 10px;
}

.water-jar{
    font-weight: 400;
    font-size: 24px;
}

.water-jar-hed{
    font-weight: 600;
    color: black;
    font-size: 49px;
}

.water-jar-con{
    padding-top: 80px;
    background-color: #fff;
}

.bottel-image-main{
height: 20vw;
margin: auto;
}


.bottel-image{
    border: 1px solid blue;
    text-align: center;
    justify-content: center;
    padding: 33px; 
    margin: 15px;
    width: 23vw;
    margin-left: 20px;
}

.bottels{
    margin: 34px;
}

.bottel-image h5{
    line-height: 46px;
}

.bottels-para{
    width: 19vw;
    margin: auto;
    line-height: 30px;
}

.all-bottel-btn{
   padding: 20px;
}

.all-bottel-main{
    margin: 20px;
    padding: 40px;
}

.mineralo-main{
    background-color: #151f4a;
    padding: 10vw;
    text-align: center;
}

.info{
    background-color: #dae0ef;
    padding-bottom: 60px;
}

.more-info{
    margin-left: 5vw;
    line-height: 44px;
}

.more-info h2{
    font-size: 50px;
}

.info-2{
margin-left: 60px;
}

.info-para{
    line-height: 36px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 4vw;
}

.info-bottles{
    margin: 10px;
    background-color: #fff;
}

.pt-120{
    padding: 120px;
}

.pb-90{
padding-bottom: 90px;
}

.name{
    font-size: 20px;
    line-height: 10px;
    padding-top: 20px;
}

.position{
    font-size: 16px;
    color: #7d8595;
}

.name-i{
    border-radius: 50%;
    padding: 12px;
    background-color:#dae0ef;
}

.join{
    background-color:#d2d4da9d;
}

.join input{
    border: none;
    background-color:#dae0ef;
    
}

.join button{
    margin-left: 14vw;
    padding: 7px;
    background-color: #ffa21d;
}

.Feedback-para{
     padding: 73px;
    }

.sb{
    margin-left: 20px;
}

.feedbackers{
    background-color:#0b1e70;
}