* {
    margin: 0px;
    padding: 0px;
}

.navigation {
    margin-top: 25px !important;
    font-family: var(--font1);
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(248, 9, 9, 0.196); */
}

.nav-left {
    display: flex;
}

.nav-left span{
    font-size: 30px;
}


.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 21px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in;
}

.nav-left ul li a:hover {

    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    display: flex;
    height: 295px;
    background-color: rgba(166, 216, 214, 0.271);
    padding: 10px;
    margin-top: 20px;
    position: relative;
}

.content::after{
    content: "";
    background-image: url("../img/vecteezy_vector-illustration-of-fingers-typing-on-a-laptop_7414839.jpg");
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
}

.content-left {
    font-family: var(--font1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 35px;
}

.content-right img {
    height: 251px;
    width: 251px;
    border: 2px solid black;
    border-radius: 54%;
}
 
.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-articles {
    height: auto;
    margin-top: 23px;
    padding: 18px;
    background-color: rgba(244, 136, 136, 0.079);
}

.home-article {
    display: flex;
    margin: 22px;

}

.home-article-img img {
    height: 17vw;
}

.home-article-content{
    align-self: center;
    padding: 30px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}
.footer {
    height: 50px;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.footer a {
    color: white;
}